*{ 
    margin: 0;
    padding: 0;
}
.container{
    height: 500px;
    border: 3px solid black;
    width:40vw;
    margin:50px auto;
    padding:20px;
    box-shadow: 10px 5px 10px  black;

}
.input{
    border: 2px solid brown;
    padding: 10px;
}
#inp{
    width: 70%;
    height: 30px;
    font-size: 1.3em;
}
#btn{
    width: 20%;
    height: 30px;
    font-size: 1.3em;
}

.task{
    display: flex;
    border: 2px solid green;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em;
    margin: 10px;
}
.section-A{
    margin-left: 30px;

}
.section-B{
   margin-right: 150px;

}
.checked{
    text-decoration: line-through;
}

.section-B span:hover{
    cursor: pointer;
}
